<div class="firstlayout" *ngIf="layout==1">
<div class="row">
    <div class="col-md-6">
        a
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        b
    </div>
    <div class="col-md-6">
       c
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        d
    </div>
    <div class="col-md-8">
        e
    </div>
</div>
</div>

<div class="secondlayout" *ngIf="layout==2">
    <div class="row">
        <div class="col-md-4">
            f
        </div>
        <div class="col-md-4">
            g
        </div>
        <div class="col-md-4">
           h
        </div>
    </div>
    <div class="row">
     <div class="col-md-6">
         i
     </div>
     <div class="col-md-6">
        j
    </div>
    <div class="row">
        <div class="col-md-4">
            k
        </div>
        <div class="col-md-4">
            l
        </div>
        <div class="col-md-4">
            m
        </div>
    </div>

    </div>


<div class="row">
     <div class="col-md-6">
         n
     </div>
     <div class="col-md-6">
        o
    </div>















</div>