.blogContainer
{
    overflow-y: hidden;
    height: 555px;
}

.blogContainer:hover
{
    overflow-y: overlay;
}

.blogCard
{
    margin: 10px;
}

.blogImage
{
    width: 25%;
}

::-webkit-scrollbar {
    width: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px; 
  }

  .modal-dialog
  {
      max-width: 60%;
  }