.landingbg
{
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.landingparent{
    overflow-y : hidden
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    font-family: cursive;
    font-size: 55px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}
  
  .entered{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    color: black;
  }